:root {
    --primary-bg: #f0f4f8;
    --card-bg: #ffffff;
    --primary-text: #2c3e50;
    --secondary-text: #34495e;
    --accent-color: #3498db;
    --hover-color: #2980b9;
    --shadow-color: rgba(52, 152, 219, 0.2);
}

body {
    background-color: var(--primary-bg);
}

.MainDiv1 {
    padding: 20px;
    padding-left: 50px;
}

.CoursesHeader {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--primary-text);
    text-align: left;
    margin-bottom: 20px;
}

.CoursesContainer {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 30px;
    padding: 20px 0 20px 20px;
    -webkit-overflow-scrolling: touch;
    scroll-padding-left: 20px;
}

.CoursesContainer::-webkit-scrollbar {
    height: 8px;
    display: none;  
}

.CoursesContainer::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

.CoursesContainer::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
}

.CourseCard {
    flex: 0 0 auto;
    width: 300px;
    min-height: 350px;
    border-radius: 20px;
    box-shadow: 0 4px 6px var(--shadow-color);
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    background-color: white
}

.CourseCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px var(--shadow-color);
}

.CourseCard img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.CourseCard h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black
}

.CourseCard p {
    font-size: 0.9rem;
    color: var(--secondary-text);
    margin: 5px 0;
}
.CoursesDescription{
    font-size: 1rem;
    color: white;
    margin: 5px 0;
}

.CourseCard p span {
    font-weight: bold;
    color: var(--accent-color);
}