.MainDiv1 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.CoursesHeader {
    font-size: 2.5rem;
    font-weight: 800;
    padding-top: 20px;
    color: #FFA586;
}

.CoursesContainer {
    display: flex;
    gap: 30px;
    overflow-x: scroll; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents line breaks, making items appear in a single row */
    padding-bottom: 20px; /* Adds padding at the bottom to avoid content clipping */
    -ms-overflow-style: none;  /* Hides scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;  /* Hides scrollbar for Firefox */
}

.CoursesContainer::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

.CourseCard {
    display: inline-block; /* Display cards in a row */
    flex-direction: column;
    width: 300px;
    min-height: 300px; 
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #FFA586;
    padding: 20px;
    text-align: center; 
    transition: transform 0.2s;
    background-color: #333; /* Added a background color to differentiate cards */
}

.CourseCard:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 4px 15px rgba(255, 165, 134, 0.7); 
}

.CourseCard img {
    
    width: 100%; 
    width: 300px;

    border-radius: 10px; 
    margin-top: 10px; 
}

.CourseCard h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFA586;
    margin-bottom: 10px; 
}

.CourseCard p {
    font-size: 1rem;
    color: #fff;
    margin: 5px 0; 
}

.CourseCard p span {
    font-weight: bold;
    color: #FFA586;
}
