.MainDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to right, #242F49, #FFA586);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.CompanyLogo {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.NavLinksContainer {
  display: flex;
  align-items: center;
}

.NavLinks {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.NavLinks li {
  font-size: 1.2rem;
  font-weight: 600;
}

.NavLinks a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.NavLinks a:hover {
  color: #FFA586;
}

.ProfileIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding-left: 20px;
}

.ProfileSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Username {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.BurgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.BurgerBar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .NavLinksContainer {
    position: absolute;
    top: 80px;
    left: -100%;
    flex-direction: column;
    background: linear-gradient(to right, #242F49, #FFA586);
    width: 100%;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .NavLinksContainer.active {
    left: 0;
  }

  .NavLinks {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .NavLinks li {
    margin-bottom: 20px;
  }

  .ProfileSection {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .BurgerMenu {
    display: flex;
  }

  .BurgerBar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .BurgerBar.open:nth-child(2) {
    opacity: 0;
  }

  .BurgerBar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.ProfileModal .modal-content {
  border-radius: 15px;
  background-color: #f7f7f7;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.ProfileDetails {
  text-align: center;
  padding: 20px;
}

.ModalProfileIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.ModalProfileName {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}

.ModalProfileEmail,
.ModalProfileRole {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

.ModalProfileButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ProfileButton {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}
