html, body, #root, .App {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #242F49, #FFA586);
  z-index: -1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.content {
  min-height: 100vh;
  padding-bottom: 50px; /* Adjust as needed */
  box-sizing: border-box;
}

#root {
  padding-right: 10px;
}